<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Détail locataire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/fontawesome/css/all.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/site.css}" rel="stylesheet">
</head>
<body>
<header th:replace="fragments :: header ">
</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments :: navbar">
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div>
                <p>Voici les détails du paiement sélectionné :</p>
                <table class="table table-striped table-responsive">
                    <thead class="thead-dark">
                    <tr>
                        <th>Nom locataire</th>
                        <th>Montant</th>
                        <th>Date paiement</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a th:href="'/locataire/'+${paiement.locataire.id}" th:text="${paiement.locataire.nom}"></a></td>
                        <td th:text="${paiement.montant}"></td>
                        <td th:text="${paiement.datePaiement}"></td>
                        <td><a th:href="@{/paiement/delete/{id}(id=${paiement.id})}"><i class="fas fa-trash text-warning pr-2"></i><span th:text="#{supprimer}"></span></a> | <a th:href="@{/paiement/update/{id}(id=${paiement.id})}"><i class="fas fa-pen-fancy text-warning pr-2"></i><span th:text="#{modifier}"></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a href="/locataire/index">Retour à la liste</a>
            </div>
        </main>
    </div>
</div>

<footer th:replace="fragments :: footer">

</footer>
<script th:src="@{/js/jquery-3.5.1.min.js}" rel="script"></script>
<script th:src="@{/js/popper.min.js}" rel="script"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}" rel="script"></script>
</body>
</html>